* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#bg-container {
    background: url(./images/main-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

    position: relative;
}

.object {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    -webkit-user-drag: none;
}

#obj1 {
    height: 5%;
    right: 17%;
    top: 15.5%;
}

#obj2 {
    height: 7%;
    left: 13.3%;
    top: 37.5%;
}

#obj3 {
    height: 12%;
    right: 5%;
    top: 73.8%;
}

.modal-panels-container {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 0 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

.row {
    height: 15%;
    display: flex;
}

.row:nth-child(2n) {
    height: 15%;
    display: flex;
    justify-content: flex-end;
}

.modal {
    height: 100%;
    border-radius: 20px;
    background-color: white;
}

.disabled {
    display: none;
}